#############################################################
# test-run config values
#############################################################

title="BigCo Person API Tests"

# EDIT THESE VALUES TO MATCH YOUR POSTMAN COLLECTION/ENV
collid="64e80640-e872-47e4-a8da-5a024410875f"
local_envid="ca3734f5-86f3-43a6-8e2f-c2d527dc7d2a"
remote_envid=""

testfile="test-collection.json"
envfile="test-environment.json"
outfile="test-output.txt"

#############################################################
# EOF
#############################################################

